<!--
<p>College Marwadi </p>
<p>Branch - ICT</p>
<p>Course-Mean</p>
<p>Covid 19 - NO nO</p>-->

<!--Angular two way data binding-->
<!--
<input type="text" [(ngModel)]="name">
<p>You have entered : {{name}} </p>
-->
<!--

<button (click) = "onClick()" > Submit</button>
<input type="text" [(ngModel)]="userInput" />
<button (click)="onClick()">Add</button>
<br />

<input type="text" [(ngModel)]="rUserInput" />
<button (click)="remove()">Remove</button> -->
<!--
<ul>
  <li *ngFor="let item of students">{{ item.id }} {{item.name}} {{item.branch}}</li>
 <li *ngFor="let name of getStudentNames()">{{ name }}</li> -->
 <!-- </ul>
-->