<p><br></p>
<h1 style="text-align: center; font-size: 200%;">Login Form </h1>
<div style="text-align: center;">
    <br><br>
    <p style="color: mediumblue;">Enter Name : <input type="text" [(ngModel)]="namee" ></p>
    <p style="color: mediumblue;" >You have entered : {{namee}}</p>
    <p style="color: red;">Enter Email : <input type="text" [(ngModel)]="email" ></p>
    <p style="color: red;">You have entered : {{email}} </p>
    <p style="color: firebrick;">Enter Number : <input type="text" [(ngModel)]="number" ></p>
    <p style="color: firebrick;">You have entered : {{number}} </p>
    <p style="color: fuchsia;">Enter Address : <input type="text" [(ngModel)]="address" ></p>
    <p style="color: fuchsia;">You have entered : {{address}} </p>
    <button (click) = "onButtonClicked()" style="color:yellow; background-color: green; font-size: 150%;" > Submit</button>
</div>
<!--
<form>
    <div style="text-align: center;">
        <table align="center">
            <tr>
                <td>
                    <p></p>
                    <label style="color:crimson;"> Name :</label>
                </td>
    
                <td>
                    
                   
                   
                </td>
            </tr>
            <tr>
                <td>
                    <p></p>
                    <label style="color:crimson;"> Email :</label>
                </td>
                <td>
                    <p></p>
                    <input type="text" placeholder="Email"  >
                </td>
            </tr>
            <tr>
                <td>
                    <p></p>
                    <label style="color:crimson;"> Number :</label>
                </td>
                <td>
                    <p></p>
                    <input type="text" placeholder="Number">
                </td>
            </tr>
            <tr>
                <td>
                    <p></p>
                    <label style="color:crimson;"> Address :</label>
                </td>
                <td>
                    <p></p>
                    <input type="text" placeholder="Address" >
                </td>
            </tr>
        </table>
    </div>
</form>
-->
<!--<br><br>
        <label style="color:crimson;"> Name :</label>
        <input type="text" >
        <br><br>
        <label style="color:crimson;"> Email :</label>
        <input type="text" >
        <br><br>
        <label style="color:crimson;"> Number :</label>
        <input type="text" >
        <br><br>
        <label style="color:crimson;"> address :</label>
        <input type="text" >
        <br><br>-->